*
{
    margin: 0;
    font-family: 'Shizuru', cursiva; 
    color:#fff
}
body
{
    margin: 0;
    background-color: #010305;
}
.container
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
.calculadora
{
    display: grid;
    grid-template-columns: repeat(4 , 75px);
    grid-template-rows:160px repeat(5 , 75px) ;
    background-color: #535b5f;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 15px 10px 0px 5px #00000033;

}
button
{
    cursor: pointer;
    margin: 5px;
    padding: 0px;
    border-radius: 20px;
    font-size: 1.5em;
    border: none;
    background-color: #12181d;
    box-shadow: 5px 5px 10px -3px #94919140, -5px -5px 15px 3px #d5e6e11f;
}
button:active
{
    background-color: #4e5251;
}
button:focus
{
    outline: none;
}
.display
{
    grid-column: 1 / -1;
    padding: 16px;
    display: flex;
    margin: 10px 10px 20px;
    flex-direction: column;
    align-items: flex-end;
    background-color: #363636;
    border-radius: 20px;
    text-align: right;
    justify-content: space-between;
    word-break: break-all;
    box-shadow: 0px 0px 0px 10px #00000033;
}
.col-2
{
    grid-column: span 2;
}
#valor-actual
{
    font-size: 1.5em;
}
#valor-anterior
{
    font-size: 2em;
}